<mat-card>
    <mat-card-header>
        <h3>{{ headerText }}</h3>
    </mat-card-header>
    <mat-card-content>
        <form novalidate>
            <div class="form-wrapper">
                <div class="input-group">
                    <label>Name</label>
                    <input
                        tabindex="1"
                        [(ngModel)]="bookmarkName" 
                        name="name"/>
                </div>
                <div class="input-group">
                    <label>URL</label>
                    <input
                        tabindex="2"
                        [(ngModel)]="bookmarkURL"
                        name="url"/>
                </div>
            </div>
        </form>
        <button class="secondary" (click)="goBack()">Back</button>
        <button class="primary" (click)="saveBookmark()" [disabled]="!isValid">Save</button>
    </mat-card-content>
</mat-card>
