<mat-card>
    <mat-card-content>
        <mat-icon class="bookmark" fontIcon="bookmark"></mat-icon>
        <span class="bookmark-name">{{ bookmark.name }}</span>
        <a class="bookmark-url" href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a>

        <mat-icon 
            class="crud-btn edit" 
            fontIcon="edit"
            (click)="onEdit()"></mat-icon>
        <mat-icon 
            class="crud-btn delete" 
            fontIcon="close"
            (click)="onDelete()"></mat-icon>
    </mat-card-content>
</mat-card>
