mat-card {
    margin-bottom: 16px;
    height: 84px;

    mat-card-content {
        display: grid;
        grid-template: 
            'icon name edit delete'
            'icon url edit delete' 
            / 48px auto 36px 36px;

        .bookmark {
            grid-area: icon;
        }
        .edit {
            grid-area: edit;
        }
        .delete {
            grid-area: delete;
        }

        .bookmark-name {
            grid-area: name;

            margin-bottom: 8px;
            font-size: 24px;
        }
        .bookmark-url {
            grid-area: url;
        }
    }
}
