mat-card {
    margin-bottom: 16px;
    height: 84px;

    mat-icon {
        margin-top: -4px;
    }

    mat-card-content {
        display: grid;
        grid-template: 
            'icon name edit'
            'icon url edit' 
            / 48px auto 48px;

        .bookmark {
            grid-area: icon;
        }
        .edit {
            grid-area: edit;
        }

        .bookmark-name {
            grid-area: name;

            margin-bottom: 8px;
            font-size: 24px;
        }
        .bookmark-url {
            grid-area: url;
        }

        .edit-link {
            color: black;
            text-decoration: none;
        }
    }
}
