mat-toolbar {
    background: #6750A4;

    color: white;

    .toolbar-link {
        color: white;
        text-decoration: none;
    }

    .spacer {
        display: flex;
        width: 100%;
    }
}
