mat-toolbar {
    background: #6750A4;

    color: white;

    .home-link {
        color: white;
        text-decoration: none;
        
        &:hover {
            color: white;
        }
    }
}
